.centered {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -300px;
}

.square {
    width: 80px;
    height: 80px;
    background-color: black;
}

.piece {
    width: 60px;
    height: 60px;
    padding: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: 80px 80px 80px 80px 80px 80px 80px 80px;
    margin: 0px;
    gap: 0px;
    padding: 0px;
}