input {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-left: 10%;
    margin-right: 10%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    box-sizing: border-box;
}

button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    margin-left: 10%;
    margin-right: 10%;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    width: 80%;
  }
  
  button:hover {
    opacity: 0.8;
  }

  h2 {
    margin-left: 10%;
  }

#RegisterForm {
    height: 23em;
    width: 20em;
    margin: auto;
    background-color:rgb(233, 233, 192);
    border-radius: 1em;
}